@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Gelasio&display=swap');

:root {
    --background-color: #202020;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    color: white;
    background-color: var(--background-color);
    font-family: 'Space Grotesk', sans-serif;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

#background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.page-container {
    margin: auto;
    width: min(100vw, 500px);
    min-width: fit-content;
    height: 100vh;
    display: grid;
}

.menu-container {
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    align-self: center;
    backdrop-filter: blur(8px);
    border-radius: 25px;
}

.menu-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.title-container {
    margin: auto;
    width: fit-content;
    height: 104px;
    align-items: center;
}

.contact-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#title {
    margin: 0;
}

#email {
    color: white;
}

#icon {
    height: 100px;
    outline: solid white 2px;
    border-radius: 15px;
}

.blog-container, .app-container, .github-container {
    margin: auto;
    padding-inline: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    background-color: black;
    border: none;
    border-radius: 15px;
    user-select: none;
}

button:hover, button:focus {
    outline: solid white 2px;
}

#blog, #github, #app {
    color: white;
}

#blog-image, #app-image {
    filter: contrast(1) invert(1);
}

#invertocat-image {
    padding: 10px 0 10px 0;
    height: 40px;
}

#copyright {
    position: fixed;
    padding: 5px;
    margin: 10px;
    right: 0;
    bottom: 0;
    color: white;
    background-color: black;
    border-radius: 10px;
    opacity: 90%;
    cursor: pointer;
}