@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');

body {
    background-color: #333333;
    font-family: 'Inconsolata', monospace;
    color: #FFFFFF;
}

#menu {
    top: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: #FFFFFF;
    opacity: 80%;
    border-radius: 20px;
    overflow: auto;
}

#menu a {
    float: left;
    margin: 2% 4.5% 2% 4.5%;
    width: 16%;
}

#menu #menu-icon {
    height: 10vmin;
}

#content, #bio, #experience, #legal, #contact-me, #donations {
    margin-top: 15%;
    padding: 1% 10%;
    border-radius: 20px;
}

#content, #bio, #experience, #legal {
    background-color: #282828;
}

#contact-me, #donations {
    color: #282828;
    background-color: #FFFFFF;
}

#content {
    padding-inline: 0;
}

#title, #subtitle, #donations-subtitle {
    text-align: center;
}

#title {
    font-size: 3.5vmax;
}

#phonetic {
    text-align: right;
    font-size: 1.5vmax;
    color: #656565;
}

#motto {
    text-align: center;
    font-size: 2vmax;
    overflow: hidden;
    letter-spacing: 0.2%;
}

#graph {
    font-size: 0;
    line-height: 5px;
    color: #656565;
}

#graph-button-container {
    text-align: center;
}

#play-graph-icon, #copy-graph-icon {
    width: 3vmax;
}

#play-graph-button, #copy-graph-button {
    padding: 1vmax;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #656565;
    border: none;
    border-radius: 15%;
}

#play-graph-button:hover, #copy-graph-button:hover {
    background-color: #FFFFFF;
}

@keyframes carat {
    from {
        border-color: transparent;
    }
    50% {
        border-color: #6e6e6e;
    }
}

#bio {
    position: absolute;
    padding-bottom: 5%;
    margin-inline: 15%;
    font-size: 20px;
    text-align: center;
}

q {
    font-style: italic;
    color: #ffcd83;
}

#background {
    white-space: nowrap;
    overflow: hidden;
    color: #333333;
}

#experience {
    padding-bottom: 5%;
    word-wrap: 100ch;
    font-size: 1.25em;
}

#experience-list {
    color: #ffcd83;
    font-style: italic;
}

#contact-container {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5vh;
    padding-bottom: 5vh;
}

#contact-icon {
    width: 20vmin;
    cursor: pointer;
}

#notification {
    opacity: 0%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-inline: 5vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    font-size: 30px;
    background-color: #333333;
    color: #FFFFFF;
}

#donations-subtitle {
    font-size: 7.5vmin;
}

#donate-form {
    text-align: center;
}

#donate-button {
    padding-inline: 10%;
    border-radius: 20px;
    border: none;
    font-size: 10vmin;
    color: #FFFFFF;
    background-color: #333333;
    cursor: pointer;
}

#donate-button:hover {
    color: #ffcd83;
}

#donation-image-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: auto;
}

#cryptocurrency, #donation-qr-code{
    width: 30vw;
}

#donation-conversion-container {
    padding: 5%;
    text-align: center;
    font-size: 4vmin;
}

#cryptocurrency-amount-input {
    font-size: 3vmin;
}

#cryptocurrency-amount-input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

#cryptocurrency-amount-input[type=number]::-webkit-inner-spin-button,
#cryptocurrency-amount-input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

#copyright {
    position: fixed;
    bottom: 5px;
    right: 10px;
    color: #FFFFFF;
    text-decoration: none;
}

#legal {
    opacity: 40%;
    max-width: 100%;
    text-align: center;
    font-size: 10px;
}

#license {
    color: #ffcd83;
    text-decoration: none;
}

.license-table {
    margin: 25px 0;
    min-width: 100%;
    font-size: 14px;
}