@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    color: #FFFFFF;
    background-color: #282828;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

img {
    width: 100%;
}

button {
    width: min(calc(100% / 3.5), 275px);
    border: none;
    background-color: #1F1F1F;
    border-radius: min(max(2vw, 2vh), 15px);
}

button:hover {
    animation: breath 1s infinite;
}

@keyframes breath {
    50% {
        background-color: #444444;
    }
    100% {
        background-color: #1F1F1F;
    }
}

#field {
    margin: auto;
    width: 100%;
    max-width: 600px;
    font-size: min(max(4vw, 4vh), 50px);
    table-layout: fixed;
    border-spacing: max(3vw, 3vh);
}

#user, #machine {
    padding: min(max(2vw, 2vh), 10px);
    background-color: #1F1F1F;
    border-radius: min(max(5vw, 5vh), 50px);
}

.score {
    margin-inline: min(calc(100% / 5), calc(1000px / 5));
    display: flex;
    justify-content: space-between;
}

#copyright {
    margin: 0;
    padding: 0;
    bottom: 1vh;
    right: 1vw;
    position: fixed;
    font-size: min(calc(1vw + 1.5vh), 50px);
    opacity: 50%;
}